@font-face{
    src: url('fonts/PoppinsReg.ttf');
    font-family: 'Poppins';
    font-weight: 400;
}

@font-face{
    src: url('fonts/PoppinsLight.ttf');
    font-family: 'Poppins';
    font-weight: 300;
}

@font-face{
    src: url('fonts/PoppinsSem.ttf');
    font-family: 'Poppins';
    font-weight: 600;
}

@keyframes backgroundColor {
    0% {
        background: transparent;
        color: #fff;
    }
    100% {
        background: white;
        color: #6a4a4c;
    }
}

.title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 100px;
    letter-spacing: 6px;
}

.links{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
    width: 260px;
    padding: 0;
    margin: 30px 0 0 0;
}

.links__item{
    text-decoration: none;
    color: #000000;
    letter-spacing: 3px;
}

.header__container{
    display: flex;
    justify-content: space-between;
}

.subtitle{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 3px;
    margin: 0;
    display: block;
}

.header__name{
    position: absolute;
    top: 245px;
    left: 35px;
}

.header__about{
    font-size: 12px;
    margin: 30px 0 57px 0;
    line-height: 1.6;
    max-width: 400px;
    letter-spacing: 0.5px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button{
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    text-align: center;
    background: transparent;
    border-radius: 20.2px;
    padding: 14px 40px 12px 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.button:hover{
    cursor: pointer;
    animation: backgroundColor 1s;
    border: 2px solid #d1bac8;
}

.button:focus{
    outline: none;
}

.header{
    background-image: url("images/background.jpg");
    height: 690px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 12px 37px;
}

.about{
    display: flex;
    font-size: 12px;
    line-height: 1.6;
    margin: 40px 0 0 40px;
}

.about__img{
    width: 308px;
    height: 340px;
    margin: 0 0 50px;
}

.about__img:hover{
    transform: rotate(90deg) scale(2, 1);
}

.subtitle__text{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: none;
}

.about__wrapper{
    padding: 0 0 0 52px;
}

.about-paragraph{
    display: flex;
    justify-content: space-between;
    margin: 0 0 75px 0;
}

.about-paragraph__item{
    max-width: 400px;
    width: 47%;
}

.about-paragraph__item_cv{
    margin: 35px 0 0 0;
}

.about-paragraph__link{
    font-size: 12px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.48px;
    margin: 25px 0 0 0;
    display: block;
}

.row{
    display: flex;
    font-size: 12px;
}

.column{
    flex: 50%;
}

.portfolio{
    background: #d1bac8;
    margin: 60px 0 0;
    padding: 55px 0 0;
}

.portfolio__title{
    text-align: center
}

.portfolio__subtitle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    display: block;
    margin: 17px 0 0;
    letter-spacing: 0.48px;
    font-weight: 600;
}

.examples{
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 1150px;
    margin: 45px auto 40px;
    padding: 0 0 65px;
}

.text{
    color: rgba(0, 0, 0, 0.7);
    margin: 30px 0 0;
}

.work__title{
    font-size: 12px;
    margin: 22px 0 5px;
    max-width: 250px;
    letter-spacing: 0.48px;
}

.work__year{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.examples__item{
    position: relative;
    height: 234px;
}

.examples__item:hover{
    cursor: pointer;
}

.examples__item:hover .examples__text{
    opacity: 1;
}

.examples__item:hover::before{
    opacity: 1;
}

.examples__item::before {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0;
}

.examples__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 2s;
    opacity: 0;
    padding: 27px 40px 15px;
    box-sizing: border-box;
}

.examples__view {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 12px 0 0;
}

.form__text{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 600;
}

.form__wrapper{
    text-align: center;
    margin: 0 0 50px;
}

.form__inputs{
    display: flex;
    justify-content: space-between;
    width: 736px;
    margin: 50px auto 45px;
}

.input{
    margin: 5px 0;
}

.textarea{
    margin: 0 0 0 48px;
    padding: 14px 0 6px;
}

.input, .textarea{
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2.8;
    padding: 14px 0 6px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
    width: 361px;
}

.input:focus, .textarea:focus{
    outline: none;
}

.button_send{
    background: #000;
    text-transform: uppercase;
}

